# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Data and large files
*.csv
*.xlsx
*.pkl
*.h5

# Dependencies
node_modules/
jspm_packages/

# Production builds
dist/
build/

# Local environment secret variables
.env
.env.local